*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/nelson_mandela_hero) no-repeat;
    background-size: cover;
}

#hero_box{
    width: 80%;
    
}

#hero_box h1{
    font-size: 10rem;
    line-height: 12.4rem;
    background-color: rgba(0, 0, 255, 0.7);
    display: inline;
    color:green
}

#hero_box p{
    color:#fff;
    font-size: 1.4rem;
    background-color: rgba(0,0,0, .8);
    display: inline-block;
    width: 70%;
}

.destaque_txt{
    color:red;
}

